web-app/node_modules/
web-app/.idea/
.idea/
images/*
raw_images/*
.idea/workspace.xml
penv/
images/
raw_images/
web-app/public/images/
web-app/public/javascripts/
deleted-images/
.env
filters/__pycache__/
core/__pycache__/
config/__pycache__/

